// Theme Toggle Component Styles

.theme-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.dropdown-toggle-icon {
  color: transparent;
}

.theme-toggle-btn {
  min-width: 45px;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);

    .dropdown-toggle-icon {
      color: currentColor;
      transition: color 0.3s ease-in-out;
    }
  }

  &[aria-expanded="true"] .dropdown-toggle-icon {
    color: currentColor;
  }
}

