// 1. BASE STYLES
@use 'base/global';

// 2. COMPONENT STYLES
@use 'components/buttons';
@use 'components/cards';
@use 'components/forms';
@use 'components/alerts';
@use 'components/icons';
@use 'components/modals';
@use 'components/tables';
@use 'components/spinners';
@use 'components/footer';
@use 'components/search';
@use 'components/theme-toggle';
@use 'components/navbar';
